@base-color-black: #121212;
@base-background-color: white;
@base-color-white: white;
@base-color-red: red;
@base-color-primary: #5f247b;
@base-color-secondary: #e2c4ee;
@base-color-accent: #8434b2;
@base-text-gradient: linear-gradient(
  120deg,
  @base-color-primary,
  @base-color-accent
);
@base-font-family: "Montserrat", "Pulp", "OpenSans", "Open Sans", sans-serif;
@base-h3-font-size: 2.5rem;
@base-size-x1: 0.5rem;
@base-size-x2: calc(@base-size-x1 * 2);
@base-size-x3: calc(@base-size-x1 * 3);
@base-size-x4: calc(@base-size-x2 * 4);
@base-size-x5: calc(@base-size-x2 * 5);
@base-size-x6: calc(@base-size-x2 * 6);
@base-size-x7: calc(@base-size-x2 * 7);
@base-size-x8: calc(@base-size-x2 * 8);
@base-size-x9: calc(@base-size-x2 * 9);
@base-heavy-font-weight: 700;
@base-bold-font-weight: 600;
@base-medium-font-weight: 500;
@base-regular-font-weight: 400;
@base-thin-font-weight: 100;
@base-h1-font-size: 5rem;
@base-h2-font-size: 3.75rem;
@base-h3-font-size: 2.5rem;
@base-h4-font-size: 1.875rem;
@base-h5-font-size: 1.5rem;
@base-h6-font-size: 1.25rem;
@base-body-font-size: 1rem;
@base-caption-font-size: 0.875rem;
@base-small-font-size: 0.75rem;
@base-tiny-font-size: 0.625rem;
@base-button-xlarge-font-size: @base-body-font-size;
@base-button-large-font-size: @base-body-font-size;
@base-button-medium-font-size: @base-caption-font-size;
@base-button-small-font-size: @base-small-font-size;
@base-transition: all 0.3s ease 0s;
