<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="favicon"
      href="{{ url_for('static', filename='favicon/favicon.ico') }}"
    />
    <link
      rel="stylesheet/less"
      type="text/css"
      href="{{url_for('static', filename='less/main.less')}}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.12.2/less.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <title>Health Advice Group{% block title_extension %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body>
    {% block preface_body %}{% endblock %}
    <main>{% block content %}{% endblock %}</main>
    {% block postface_body %}{% endblock %}
  </body>

  <script>
    applyTheme();
  </script>
</html>
