{% extends 'base.html' %}{% block title_extension %} - {{form_type|title}}{% endblock %} {% block preface_body %}
{% include 'header.html' %}
{% endblock %}{%
block content %}

<div class="{{form_type}}">
    <div class="{{form_type}}-container">
        <form action="" method="post">
            {{form.csrf_token}}
            <h2>{{form_type|title}}</h2>
            <div class="errors">
                {% set messages = get_flashed_messages() %}
                {% set errors = form.errors.items()|map(attribute=1)|list %}
                {% set merged_list = messages + errors %}
                {% if merged_list %}
                    <div>{{ merged_list[0]|join('') }}</div>
                {% endif %}
            </div>
            {% if form_type == 'register' %}
            <div class="input-box">
                <i class="fa-solid fa-envelope"></i>
                {{form.email}}
                <label for="email">Email</label>
            </div>
            {% endif %}
            <div class="input-box">
                <i class="fa-solid fa-at"></i>
                {{form.username}}
                <label for="username">Username</label>
            </div>
            <div class="input-box">
                <i class="fa-solid fa-lock"></i>
                {{form.password}}
                <i class="fa-regular fa-eye-slash" id="togglePassword"></i>
                <label for="password">Password</label>
            </div>
            {% if form_type == 'register' %}
            <div class="input-box">
                <i class="fa-solid fa-lock"></i>
                {{form.confirm}}
                <label for="confirm">Confirm Password</label>
            </div>
            {% endif %}
            {%if form_type == "login"%}
            <div class="remember-forgot">
                <label for="remember">{{form.remember}} Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>
            {%endif%}
            {{form.submit(value="Login" if form_type=="login" else "Sign up", class="primary-button")}}
            <div class="login-link">
                {% if form_type=="register" %}
                <p>Already have an account? <a href="{{url_for('login')}}">Login</a></p>
                {% else %}
                <p>Don't have an account? <a href="{{url_for('register')}}">Sign up</a></p>
                {% endif %}
            </div>
        </form>
    </div>
</div>
</div>

<script>
    $(document).ready(function () {

        // This part makes it so that the username, password and email labels move with the autocomplete
        setTimeout(function () {
            $('#confirm').focus();
            $('#password').focus();
            $('#username').focus();
            $('#email').focus();
        }, 600);

        // This is the reveal password icon code
        $('#togglePassword').click(function () {
            const passwordInput = $('#password');
            const isPassword = passwordInput.attr('type') === 'password';

            passwordInput.attr('type', isPassword ? 'text' : 'password');
            $(this).toggleClass('fa-eye-slash fa-eye').css('padding-right', isPassword ? '1.4px' : '');
        });

        // This removes the error message when you start typing
        $('.input-box').on('input', function () {
            $('.errors').hide();
        });
    });
</script>



{% endblock %}