{% extends 'base.html' %}{% block title_extension %} - Dashboard {% endblock
%}{% block preface_body %} {% include 'header.html' %} {% endblock %}{% block
content %}
<div class="dashboard">
    <div class="card sidebar">
        <a href="{{url_for('dashboard')}}" {% if active_page==url_for('dashboard') %}class="selected"{% endif %}>
            <i class="fa-solid fa-chart-pie"></i>
            Overview</a>
            <a href="{{url_for('advice_hub')}}" {% if active_page==url_for('advice_hub') %}class="selected"{% endif %}>
            <i class="fa-solid fa-comment-medical"></i>
            Advice Hub</a>
            <a href="{{url_for('pollution_map')}}" {% if active_page==url_for('pollution_map') %}class="selected"{% endif %}>
            <i class="fa-solid fa-map"></i>
            Air Quality Map</a>
    </div>
    <div class="tiles">
        <ul class="tile-wrapper">
            <li class="tile-first-row-col1 card">
                <p class="dash-row">
                    Temperature
                    <i class="fa-solid fa-ellipsis"></i>
                </p>
                <h4>{{ "%0.2f" | format(weather['main']['temp'] - 273.15) }}&deg;C</h4>
            </li>
            <li class="tile-first-row-col2 card">
                <p class="dash-row">
                    Feels like
                    <i class="fa-solid fa-ellipsis"></i>
                </p>
                <h4>{{ "%0.2f" | format(weather['main']['feels_like'] - 273.15) }}&deg;C</h4>
            </li>
            <li class="tile-first-row-col3 card">
                <p class="dash-row">
                    Pressure
                    <i class="fa-solid fa-ellipsis"></i>
                </p>
                <h4>{{weather['main']['pressure']}}hPa</h4>
            </li>
            <li class="tile-first-row-col4 card">
                <p class="dash-row">
                    Humidity
                    <i class="fa-solid fa-ellipsis"></i>
                </p>
                <h4>{{weather['main']['humidity']}}%</h4>
            </li>
        </ul>
    </div>
</div>
{% endblock %}{% block postface_body %} {% endblock %}